.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px 30px 30px 3px;
    background: rgba(0, 0, 0, 0.25);
    padding: 17px 20px;
    font-weight: 300;
    cursor: pointer;

    .radio label {
        padding-right: 36px;
        transition-duration: 0;
    }
    .radio input[type=checkbox] {
        display: none;
    }
    .radio label {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        position: relative;
        padding-left: 25px;
        margin-right: 0;
        line-height: 18px;
        user-select: none;
    }
    .radio label:before {
        content: "";
        display: inline-block;
        width: 26px;
        height: 26px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid rgba(255, 255, 255, 0.15);
        border-radius: 50%;
        transition-duration: 0;
    }
    .radio label svg {
        position: absolute;
        right: 0;
        width: 26px;
        height: 26px;
    }
}