.form {
    margin-top: 50px;

    button {
        margin-top: 35px;
        padding-left: 100px;
        padding-right: 100px;
    }

    div {
        display: flex;
        gap: 30px;

        &:first-child {
            margin-bottom: 35px;
        }
    }

    label {
        position: relative;
        padding-top: 20px;

        span {
            position: absolute;
            left: 0;
            top: 0;
            color: rgba(33, 38, 41, 0.50);
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
        }

        &:last-child {
            width: 170px;
        }
    }
}