.cartBtn {
    padding: 10px 30px;
    display: flex;
    gap: 5px;

    span {
        width: 1px;
        height: 25px;
        background-color: #212629;
        margin-left: 14px;
        margin-right: 14px;
    }
}