.header {
    padding: 40px 0;
    margin-bottom: 30px;

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;


        .buttons {
            display: flex;
            gap: 20px;

            a {
                border-radius: 30px;
            }
        }

        .whatsapp {
            padding: 10px 30px;
            background: #25D366;
            color: #fff;
            display: flex;
            align-items: center;
            gap: 10px;

            &:hover {
                background: #1feb6a;
            }

            svg {
                width: 20px;
                height: 20px;
                fill: #fff;
            }
        }

        .user {
            padding: 10px 14px;
            border-radius: 50%;

            svg {
                width: 16px;
                height: 20px;
            }
        }
    }
}