.item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        position: relative;
        width: 100%;

        p {
            color: rgba(33, 38, 41, 0.6);
            position: absolute;
            width: 100%;
        }
    }

    &>div {
        display: flex;
        align-items: center;
        gap: 20px;
        max-width: 450px;
        width: 100%;
    }

    img {
        width: 60px;
        background-color: #B3E0EB;
        border-radius: 6px;
    }

    h2 {
        font-size: 30px;
        line-height: normal;
    }

    span {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
    }
}