.form {
    margin: 50px 0 150px;

    button {
        padding-left: 100px;
        padding-right: 100px;
    }

    div {
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 30px;
        width: 100%;
        
        &.coment input {
            padding-bottom: 100px;
        }

        &:not(:first-child) {
            margin-top: 35px;
        }

        &:last-child {
            span {
                cursor: pointer;

                &:hover {
                    color: red;
                }
            }
        }
    }

    label {
        position: relative;
        padding-top: 20px;
        flex: 1 1 auto;

        input:focus,
        textarea:focus {
            border-color: #333;
        }

        span {
            position: absolute;
            left: 0;
            top: 0;
            color: rgba(33, 38, 41, 0.50);
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
        }
    }
}