.item {
    max-width: 360px;
    border-radius: 40px 40px 40px 5px;
    position: relative;
    transition-duration: .3s;
    background: #ebebeb;
    user-select: none;

    &:hover {
        box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05), 40px 40px 50px rgba(0, 0, 0, 0.5);
        background: #212629;

        .title {
            color: #fff;
        }

        .info {
            color: rgba(255, 255, 255, 0.5);
        }

        .description {
            color: rgba(255, 255, 255, 0.6);
        }

        .bottom {
            .count {
                border: 1px solid rgba(255, 255, 255, 0.08);

                span {
                    color: #fff;
                }

                button {
                    span {
                        background-color: #fff;
                    }

                    &.disable {
                        span {
                            background: #ffffff88;
                        }
                    }
                }
            }

            .btn {
                background: #212629;
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5), -1px -1px 6px rgba(255, 255, 255, 0.05), -5px -5px 20px rgba(255, 255, 255, 0.1), 5px 5px 20px rgba(0, 0, 0, 0.8);
            }
        }
    }

    img {
        border-radius: 40px 40px 0px 0px;
    }

    .sharp {
        background: #FFFFFF;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
        padding: 10px 12px;
        border-radius: 50%;
        position: absolute;
        top: 330px;
        left: 15px;
    }

    .heart {
        position: absolute;
        top: 23px;
        left: 23px;
    }

    .content {
        padding: 20px;
    }

    .title {
        line-height: 24px;
        color: #212629;
        margin-bottom: 10px;
        transition-duration: .3s;
    }

    .info {
        font-weight: 300;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 20px;
        color: rgba(33, 38, 41, 0.5);
        margin-bottom: 20px;

        span {
            transition-duration: .3s;
        }

        .price {
            font-weight: 700;
        }

        span {
            position: relative;

            &:not(:first-child):before {
                content: '·';
                color: rgba(33, 38, 41, 0.2);
                font-size: 30px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -12px;
            }
        }
    }

    .description {
        color: rgba(33, 38, 41, 0.6);
        font-weight: 300;
        font-size: 17px;
        margin-bottom: 30px;
        transition-duration: .3s;
    }

    .bottom {
        display: flex;
        align-items: center;
        gap: 10px;

        .count {
            border: 1px solid #FFFFFF;
            border-radius: 99px;
            padding: 10px 20px;
            color: #212629;
            display: flex;
            align-items: center;
            gap: 15px;
            transition-duration: .3s;

            span {
                overflow: hidden;
                width: 23px;
                text-align: center;
                transition-duration: .3s;
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                transition-duration: .3s;

                span {
                    width: 14px;
                    height: 1px;
                    display: inline-block;
                    background: #212629;
                    position: absolute;
                }

                &:last-child span:last-child {
                    height: 14px;
                    width: 1px;
                }

                &.disable {
                    cursor: default;

                    span {
                        background: #21262970;
                    }
                }
            }
        }

        .btn {
            padding: 10px 50px;
            color: #FE9102;
            background: #E9E9E9;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08), -1px -1px 6px rgba(255, 255, 255, 0.5), -5px -5px 20px #FFFFFF, 5px 5px 20px #D3D3D3;
            border-radius: 99px;
            transition-duration: .3s;

            &:hover {
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5), -1px -1px 6px rgba(255, 255, 255, 0.05), -2px -2px 20px rgba(255, 255, 255, 0.1), 2px 2px 20px rgba(0, 0, 0, 0.8);
            }

            &:active {
                box-shadow: inset -1px -1px 3px rgba(0, 0, 0, 0.8), inset -6px -6px 5px rgba(0, 0, 0, 0.3), inset 1px 1px 3px rgba(100, 100, 100, 0.15), inset 6px 6px 5px rgba(100, 100, 100, 0.06);
            }
        }
    }
}