.orders {
    h1 {
        font-size: 40px;
        line-height: 49px;
        color: #212629;
        position: relative;
        margin-bottom: 50px;
        cursor: pointer;

        svg {
            position: absolute;
            top: 50%;
            left: -40px;
            transform: translateY(-50%);
            stroke: #212629;
        }
    }
}